@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500;600;700&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;